@import "vendor/bootstrap-4.0/bootstrap", "vendor/OwlCarousel2-2.2.1/owl.carousel",
  "vendor/OwlCarousel2-2.2.1/owl.theme.default", "vendor/font-awesome-4.7.0/font-awesome";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "components/ui-elements";

body {
  font-family: $font-primary-en;
}
h1,
h2,
h3 {
  font-family: $font-primary-en;
}

.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  @include margin(0, 0, 60px, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 40px, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 40px, 0);
  }
}

@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}

/* login wrapper */
.main-login-wrap {
  background: $brand-color;
  height: 100vh;
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    height: 100%;
    @include padding(40px, 0, 40px, 0);
  }

  .form-wrap {
    background: $white-color;
    @include border-radius(8px);
    @include padding(40px, 40px, 40px, 40px);
    @include card-shadow;

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    .left-cols {
      figure {
        @include margin(40px, 0, 40px, 0);
      }
      h1 {
        font-size: 50px;
        font-family: $font-avertablack-en;
        color: $brand-color;
        @include margin(0, 0, 20px, 0);
      }
      p {
        font-size: 16px;
        color: $light-grey-color;

        @include breakpoint(sm) {
          @include margin(0, 0, 50px, 0);
        }
      }
    }

    .right-cols {
      .logo {
        @include margin(0, 0, 50px, 0);
        display: block;
        img {
          width: 70%;

          @include breakpoint(sm) {
            width: 100%;
          }
        }
      }
      .form-group {
        @include margin(0, 0, 20px, 0);
        position: relative;

        .form-control {
          @include padding(0, 0, 0, 65px);
        }

        .icon {
          display: block;
          background: url(../images/icons-sprite.png) no-repeat;
          background-size: 347px 75px;
          position: absolute;
          left: 23px;
          top: 17px;
          @include transition(all 0.5s ease);
        }
        .icon-email {
          width: 24px;
          height: 24px;
          background-position: -15px -12px;
        }
        .icon-password {
          width: 24px;
          height: 24px;
          background-position: -46px -12px;
        }
      }

      h2 {
        font-size: 35px;
        color: $brand-color;
        @include margin(0, 0, 40px, 0);
      }
      p {
        font-size: 16px;
        color: $light-grey-color;
        @include margin(0, 0, 30px, 0);
      }
    }
  }
}

#wrapper {
  @include padding(0, 0, 0, 0);
  @include transition(all 0.5s ease);
}

#wrapper.toggled {
  @include padding(0, 0, 0, 380px);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
  @include breakpoint(md) {
    @include padding(0, 0, 0, 0);
  }
}

.toggled {
  #sidebar-wrapper .toggle-btn {
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
}

/* Sidebar wrapper */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 380px;
  width: 0;
  height: 100%;
  @include margin(0, 0, 0, -380px);

  background: $white-color;
  @include card-shadow;
  @include transition(all 0.5s ease);

  @include breakpoint(lp) {
    width: 380px;
  }

  @include breakpoint(sm) {
    left: 250px;
    @include margin(0, 0, 0, -250px);
    overflow-y: auto;
  }
  @include breakpoint(md) {
    left: 300px;
    @include margin(0, 0, 0, -300px);
    overflow-y: auto;
  }

  .toggle-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;

    .icon-bar {
      width: 26px;
      height: 3px;
      @include border-radius(50px);
      background-color: $dark-grey-color-shade;
      display: block;
      transition: all 0.4s;
      margin-top: 4px;
    }

    .toggle-btn {
      border: none;
      background: transparent !important;

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }

    @include breakpoint(sm) {
      display: block !important;
    }
    @include breakpoint(md) {
      display: block !important;
    }
  }

  /* Sidebar Styles */
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    @include padding(30px, 30px, 50px, 30px);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    .logo-wrap {
      border-bottom: 1px solid $light-grey-color;
      @include margin(0, 0, 30px, 0);
      @include padding(0, 0, 20px, 0);

      .logo {
        background: url(../images/logo@3x.png) no-repeat;
        width: 325px;
        height: 55px;
        display: block;
        background-size: 60%;
      }
    }

    .user-wrap {
      display: flex;
      align-items: center;
      height: 68px;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        flex-direction: column;
        height: auto;
        justify-content: center;
      }

      figure {
        @include border-radius(50%);
        width: 68px;
        height: 68px;
        @include margin(0, 20px, 0, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 15px, 0);
        }

        img {
          @include border-radius(50%);
          width: 68px;
          height: 68px;
        }
      }
      .name {
        font-size: 18px;
        color: $brand-color;
        @include margin(0, 20px, 0, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 15px, 0);
        }

        span {
          display: block;
        }
        &__lg {
          font-family: $font-secondary-en;
        }
      }
      .points {
        background: $brand-color;
        color: $white-color;
        font-size: 18px;
        @include border-radius(50px);
        @include padding(10px, 25px, 10px, 25px);
      }
    }

    li {
      @include margin(0, 0, 15px, 0);
      .link-flip {
        font-size: 18px;
        color: $brand-color;
        display: block;
        font-family: $font-secondary-en;
        @include margin(0, 0, 0, 0);
        display: flex;

        @include breakpoint(sm) {
          font-size: 15px;
        }

        span {
          &::before {
            color: $brand-second-color;
          }
        }
        .icon {
          display: inline-block;
          background: url(../images/icons-sprite.png) no-repeat;
          background-size: 347px 75px;
          @include transition(all 0.5s ease);
          @include margin(5px, 15px, 0, 0);
          @include transform(translateY(0));
        }
        .icon-01 {
          width: 22px;
          height: 18px;
          background-position: -78px -12px;
        }
        .icon-02 {
          width: 11px;
          height: 15px;
          background-position: -107px -12px;
        }
        .icon-03 {
          width: 15px;
          height: 13px;
          background-position: -128px -12px;
        }
        .icon-04 {
          width: 18px;
          height: 17px;
          background-position: -149px -12px;
        }
        .icon-05 {
          width: 18px;
          height: 17px;
          background-position: -172px -12px;
        }
        .icon-06 {
          width: 20px;
          height: 20px;
          background-position: -197px -12px;
          @include margin(3px, 15px, 0, 0);
        }
        .icon-07 {
          width: 20px;
          height: 20px;
          background-position: -225px -12px;
          @include margin(3px, 15px, 0, 0);
        }
        &:hover {
          .icon {
          }
          .icon-01 {
            background-position: -78px -30px;
          }
          .icon-02 {
            background-position: -107px -30px;
          }
          .icon-03 {
            background-position: -128px -33px;
          }
          .icon-04 {
            background-position: -149px -32px;
          }
          .icon-05 {
            background-position: -172px -32px;
          }
          .icon-06 {
            background-position: -197px -35px;
          }
          .icon-07 {
            background-position: -225px -35px;
          }
        }
      }

      .edit-profile {
        color: $brand-second-color;
        @include margin(70px, 0, 0, 0);
        span {
          &::before {
            color: $brand-color;
          }
        }
      }
      .sign-out {
        color: $brand-second-color;
        @include margin(0, 0, 0, 0);
        span {
          &::before {
            color: $brand-color;
          }
        }
      }

      &.dropdown {
        .dropdown-toggle {
          &:after {
            content: "\f107";
            font-family: "FontAwesome";
            position: absolute;
            @include margin(3px, 0, 0, 15px);
            border: 0;
            color: $brand-color;
            font-size: 25px;
            right: 0;
            top: -4px;
          }
        }
      }
      &.show {
        height: 200px;

        @include breakpoint(sm) {
          height: 220px;
        }
        .dropdown-toggle {
          &:after {
            content: "\f105";
          }
        }
      }

      .dropdown-menu {
        width: 100%;
        @include padding(15px, 0, 15px, 0);
        @include margin(20px, 0, 0, 0);
        border: 0;

        a {
          font-size: 16px;
          color: $brand-color;
          font-family: $font-secondary-en;
          @include margin(0, 0, 15px, 30px);
          position: relative;
          &:before {
            position: absolute;
            @include border-radius(50%);
            width: 7px;
            height: 7px;
            content: "";
            border: 1px solid $brand-color;
            left: 0;
            top: 12px;
          }
          &:after {
            position: absolute;
            width: 5px;
            height: 1px;
            content: "";
            background: $brand-color;
            left: 10px;
            top: 15px;
          }

          &:hover {
            color: $brand-second-color;
            background: none;
          }
        }
      }
    }
  }

}

#wrapper.toggled #sidebar-wrapper {
  @include breakpoint(sm) {
    width: 250px;
  }
  @include breakpoint(md) {
    width: 430px;
  }
}

.body-content {
  width: calc(100% - 380px);
  @include margin(0, 0, 0, 380px);
  @include padding(50px, 75px, 100px, 75px);
  position: relative;
  background: url(../images/body-right-bg.png) no-repeat right top;

  @include breakpoint(sm) {
    @include margin(0, 0, 0, 0);
    width: 100%;
    @include padding(70px, 30px, 30px, 30px);
  }
  @include breakpoint(md) {
    @include margin(0, 0, 0, 0);
    width: 100%;
  }

  .title__wrap {
    position: relative;
    h1 {
      font-size: 42px;
      @include margin(0, 0, 100px, 0);
      position: relative;
      text-align: center;
      font-family: $font-secondary-en;
      color: $brand-color;

      @include breakpoint(sm) {
        font-size: 30px;
      }

      &:before {
        content: "";
        position: absolute;
        background: $brand-color;
        width: 100px;
        height: 5px;
        top: 85px;
        left: 50%;
        @include transform(translateX(-50%));
        @include border-radius(15px);
      }
    }

    .back__arrow {
      color: $brand-color;
      position: absolute;
      left: 10px;
      top: 0;
      display: block;
      z-index: 9;
      &:hover {
        color: $brand-second-color;
        left: 0;
      }

      @include breakpoint(sm) {
        left: -10px;
      }
      @include breakpoint(md) {
        top: -10px;
      }
    }

    .points {
      background: $brand-color;
      color: $white-color;
      font-size: 18px;
      @include border-radius(50px);
      @include padding(10px, 25px, 10px, 25px);
      position: absolute;
      right: 0;
      top: 11px;
      z-index: 9;
      @include breakpoint(sm) {
        left: 50%;
        top: -55px;
        @include transform(translateX(-50%));
      }
      @include breakpoint(md) {
        
        top: 70px;
        right: 0;
      }
    }
  }

  .body-inner-wrap {
    background: $white-color;
    @include border-radius(8px);
    @include padding(50px, 50px, 50px, 50px);
    @include card-shadow;

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }
  }
}

/* home content */
.md-message-content {
  .video-wrap {
    @include margin(0, 0, 50px, 0);

    &__figure-holder {
      @include margin(0, 0, 0, 0);
      overflow: hidden;
      max-height: 420px;
      position: relative;
      @include border-radius(8px);
      @include card-shadow;

      img {
        width: 100%;
        @include transform(scale(1));
      }

      &:hover {
        img {
          @include transform(scale(1.1));
        }
        .video-wrap__play-icon {
          opacity: 10;
        }
      }
    }

    &__play-icon {
      position: absolute;
      width: 118px;
      height: 118px;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      i {
        color: rgba($white-color, 10);
        font-size: 135px;
      }
    }
  }
  .md__info {
    color: $brand-color;
    h2 {
      font-family: $font-secondary-en;
      font-size: 40px;
      @include margin(0, 0, 10px, 0);
    }
    span {
      font-size: 15px;
      @include margin(0, 0, 10px, 0);
      display: block;
    }
    h3 {
      font-family: $font-secondary-en;
      font-size: 30px;
    }
  }
}

/* edit profile content */
.edit-profile-form-wrap {
  .title-head {
    border-bottom: 1px solid $light-grey-color;
    @include margin(0, 0, 15px, 0);
    @include padding(0, 0, 25px, 0);

    h2 {
      font-size: 30px;
      @include margin(0, 0, 15px, 0);
      font-family: $font-secondary-en;
      color: $brand-color;
    }
    span {
      font-size: 18px;
    }
  }

  label {
    font-size: 16px;
    @include margin(0, 0, 15px, 0);
  }
  .form-group {
    @include margin(0, 0, 20px, 0);
    font-size: 50px;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  textarea {
    height: 90px !important;
    resize: none;
    @include padding(15px, 0, 0, 15px);
  }
  .action-btn-orange {
    @include margin(50px, 0, 0, 0);
    @include breakpoint(sm) {
      @include margin(20px, 0, 0, 0);
    }
  }
}

/* leaderboard content */
.leaderboard-content {
  background-color: #f8f8f8 !important;
  padding: 0 0 30px 0 !important;

  .title-head {
    background-color: $white-color !important;
    border-bottom: 1px solid $light-grey-color;
    @include padding(30px, 80px, 30px, 50px);
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    h2 {
      color: $brand-color;
      font-size: 30px;

      @include breakpoint(sm) {
        font-size: 20px;
      }

      .icon {
        display: inline-block;
        background: url(../images/icons-sprite.png) no-repeat;
        background-size: 347px 75px;
        @include margin(0, 10px, 0, 0);
      }
      .icon-team {
        width: 33px;
        height: 21px;
        background-position: -253px -10px;
      }
      .icon-points {
        width: 24px;
        height: 24px;
        background-position: -297px -12px;
      }
    }
  }

  .list-group {
    @include padding(0, 0, 20px, 0);

    .list-item {
      .item-link {
        display: flex;
        align-items: center;
        height: 100px;
        @include padding(20px, 50px, 20px, 50px);

        @include breakpoint(sm) {
          flex-direction: column;
          height: auto;
          justify-content: center;
        }

        .thumb {
          @include border-radius(50%);
          width: 68px;
          height: 68px;
          @include margin(0, 40px, 0, 0);
          flex: 1 15%;
          

          @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
          }

          img {
            @include border-radius(50%);
            width: 68px;
            height: 68px;
          }
        }
        .name {
          font-size: 18px;
          color: $dark-grey-color-shade;
          display: block;
          flex: 1 60%;

          @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
          }
        }
        .points {
          font-size: 18px;
          margin-left: auto;
          color: $dark-grey-color-shade;
          flex: 1 25%;

          @include breakpoint(sm) {
            @include margin(0, 0, 10px, 0);
          }

          .points-text {
            @include margin(0, 40px, 0, 0);
            @include transition(all 0.5s ease);
          }
        }

        &:hover {
          @include card-hover-shadow;
          background: $white-color;
          transform: scale(1.1);
          .name {
            color: $brand-color;
          }
          .points {
            color: $brand-color;
          }
          .points-text {
            @include margin(0, 50px, 0, 0);
          }
        }
      }
    }
  }

  .viewmore-button {
    color: $brand-color;
    text-align: center;
    display: block;
  }
}

/* team profile content */
.team-profile-content {
  padding: 0 0 30px 0 !important;
  .title-head {
    @include padding(30px, 80px, 30px, 50px);
    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    h2 {
      color: $brand-color;
      font-size: 30px;

      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
  }

  .list-group {
    @include padding(0, 0, 20px, 0);
    .list-item {
      .item-link {
        display: flex;
        align-items: center;
        height: 100px;
        @include padding(20px, 30px, 20px, 30px);

        @include breakpoint(sm) {
          flex-direction: column;
          height: auto;
          justify-content: center;
          text-align: center;
        }

        .thumb {
          @include border-radius(50%);
          width: 68px;
          height: 68px;
          @include margin(0, 30px, 0, 0);
          flex: 1 15%;

          @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
          }

          img {
            @include border-radius(50%);
            width: 68px;
            height: 68px;
          }
        }
        .name {
          font-size: 16px;
          color: $dark-grey-color-shade;
          @include margin(0, 30px, 0, 0);
          flex: 1 35%;


          @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
          }
        }
        .last-seen {
          font-size: 16px;
          color: $dark-grey-color-shade;
          flex: 1 35%;

          @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
          }
        }
        .points-text {
          font-size: 16px;
          margin-left: auto;
          display: inline-block;
          color: $dark-grey-color-shade;
          flex: 1 15%;
          text-align: center;
         

          @include breakpoint(sm) {
            @include margin(0, 0, 10px, 0);
          }
        }

        &:hover {
          @include card-hover-shadow;
          background: $white-color;
          transform: scale(1.1);
          .name {
            color: $brand-color;
          }
        }
      }
    }
  }

  .viewmore-button {
    color: $brand-color;
    text-align: center;
    display: block;
  }
}

/* individual profile content */
.individual-profile-content {
  padding: 0 !important;

  .user__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include padding(50px, 0, 50px, 0);

    .thumb {
      @include border-radius(50%);
      width: 124px;
      height: 124px;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 15px, 0);
      }

      img {
        @include border-radius(50%);
        width: 124px;
        height: 124px;
      }
    }
    .name {
      color: $brand-color;
      @include margin(0, 0, 30px, 0);
      span {
        display: block;
        text-align: center;
      }
      &__lg {
        font-family: $font-secondary-en;
        font-size: 30px;
        @include margin(0, 0, 5px, 0);
      }
      &__sm {
        font-size: 18px;
      }
    }
    .points {
      background: $brand-color;
      color: $white-color;
      font-size: 18px;
      @include border-radius(50px);
      @include padding(10px, 25px, 10px, 25px);
    }
  }

  .user-personal-info {
    @include padding(50px, 50px, 50px, 50px);
    border-left: 1px solid $light-grey-color;

    @include breakpoint(sm) {
      border-left: 0;
      border-top: 1px solid $light-grey-color;
    }

    .list-group {
      .list-item {
        @include margin(0, 0, 40px, 0);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h2 {
          font-size: 30px;
          color: $brand-color;
          font-family: $font-secondary-en;
          @include margin(0, 0, 10px, 0);
          width: 100%;
          flex: 1 0 30%;
        }
        p {
          font-size: 18px;
          color: $brand-second-color;
          flex: 0 1 100%;
          @include margin(0, 0, 0, 47px);
        }

        .icon {
          display: inline-block;
          background: url(../images/icons-sprite.png) no-repeat;
          background-size: 347px 75px;
          @include transition(all 0.5s ease);
          @include margin(7px, 25px, 0, 0);
          @include transform(translateY(0));
        }
        .icon-01 {
          width: 20px;
          height: 20px;
          background-position: -252px -41px;
        }
        .icon-02 {
          width: 20px;
          height: 21px;
          background-position: -273px -41px;
        }
        .icon-03 {
          width: 20px;
          height: 20px;
          background-position: -300px -43px;
        }
        .icon-04 {
          width: 20px;
          height: 18px;
          background-position: -327px -41px;
        }
      }
    }
  }
}

/* prize to be won content */
.prizes-to-be-won-content {
  background-color: #f8f8f8 !important;
  padding: 0 0 0 0 !important;

  .title-head {
    background-color: $white-color !important;
    border-bottom: 1px solid $light-grey-color;
    @include padding(30px, 80px, 30px, 50px);
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    h2 {
      color: $brand-color;
      font-size: 30px;

      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
  }

  .list-group {
    .list-item {
      @include margin(0, 0, 0, 0);
      @include padding(30px, 40px, 30px, 40px);
      @include transition(all 0.5s ease);

      h3 {
        font-size: 30px;
        color: $brand-color;
        font-family: $font-secondary-en;
        @include margin(0, 0, 15px, 0);
      }
      p {
        font-size: 18px;
        color: $brand-second-color;
      }

      &:hover {
        @include card-hover-shadow;
        background: $white-color;
        transform: scale(1.1);
      }
    }
  }
}

/* challenge content */
.challenge-content {
  @include margin(0, 0, 60px, 0);
  .title-head {
    position: relative;
    h2 {
      font-size: 30px;
      @include margin(0, 0, 50px, 0);
      position: relative;
      font-family: $font-secondary-en;
      color: $brand-color;

      &:before {
        content: "";
        position: absolute;
        background: $brand-color;
        width: 70px;
        height: 5px;
        top: 50px;
        left: 37px;
        @include transform(translateX(-50%));
        @include border-radius(15px);
      }
    }
  }
  h3 {
    color: $brand-second-color;
    font-size: 20px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 20px, 0);
  }

  p {
    font-size: 15px;
    @include margin(0, 0, 30px, 0);
  }
}

.instruction-content {
  li {
    position: relative;
    @include margin(0, 0, 10px, 0);
    color: $dark-grey-color-shade;
    font-size: 16px;
    @include padding(0, 0, 0, 25px);

    &:before {
      width: 5px;
      height: 5px;
      background: $brand-second-color;
      content: "";
      left: 0;
      top: 9px;
      @include border-radius(50%);
      position: absolute;
    }
  }
}
.answer-content {
  ul {
    li {
      display: flex;
      @include margin(0, 0, 15px, 0);
      span {
        color: $brand-color;
        font-size: 18px;
        @include margin(10px, 20px, 0, 0);
      }
      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid $light-grey-color;
        @include border-radius(0);
        height: 35px;
        @include padding(0, 0, 0, 0);

        &:focus {
          box-shadow: none;
          border: 0;
          border-bottom: 1px solid $brand-color;
        }
      }
    }
  }
}

.timer {
  color: $brand-color;
  span {
    font-family: $font-avertablack-en;
    font-size: 67px;
    @include margin(0, 0, 0, 0);
    display: block;
  }
  p {
    font-size: 30px;
  }
}
.viewmore-items {
  display: none;
}
