/* sweap button */
%action-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: $brand-color;
  @include border-radius(5px);
  overflow: hidden;
  z-index: 0;
  @include padding(15px, 55px, 15px, 55px);
  font-size: 25px;
  border: 1px solid $light-grey-color;
  text-transform: capitalize;
  color: $white-color;

  &:hover {
    color: $white-color;
    @include card-hover-shadow;
    background: $brand-second-color;
    @include transform(translateY(-8px));
  }
}

.action-btn-orange {
  @extend %action-btn;
}


.form-control {
  border: 0;
  font-size: 16px;
  height: 56px;
  color: $black-color;
  border: 1px solid $light-grey-color;
  @include padding(0, 20px, 0, 20px);

  &:focus {
    border: 1px solid $brand-color;
    box-shadow: 0 1px 5px 0 rgba($brand-color, 0.8);
  }
}

.link-flip {
  font-size: 16px;
  color: $light-grey-color;
  overflow: hidden;
  display: inline-block;
  span {
    position: relative;
    display: inline-block;
    @include transition(0.5s);
    &::before {
      color: $brand-color;
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      @include transform(translate3d(0, 0, 0));
    }
  }
  &:hover {
    color: $brand-color;
    span {
      @include transform(translateY(-100%));
    }
  }
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 5px, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(4px, 0, 0, 30px);
      @include margin(0, 0, 15px, 0);
      user-select: none;
      color: $light-grey-color;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $light-grey-color;
        @include border-radius(2px);
        background: $white-color;
        text-align: center;
        @include transition(all 0.5s ease);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 7px;
        top: 5px;
        width: 6px;
        height: 9px;
        opacity: 0;
        border-bottom: 3px solid $brand-color;
        border-right: 3px solid $brand-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}
