// colors
$brand-color: #fd5f00;
$brand-second-color: #333;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: #dedede; // light grey
$dark-grey-color: #313131; // dark grey
$light-blue-color: #f3f7fd; // light blue
$text-grey-color: rgba($black-color, 0.5);
$dark-grey-color-shade: #666; // dark grey

// fonts
$font-primary-en: "avertaregular";
$font-secondary-en: "avertabold";
$font-avertablack-en: "avertablack";

/* clearfix */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* center block */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center vertically */
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), "webkit" "ms");
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin my-shadow() {
  box-shadow: 0 1px 5px 0 rgba($black-color, 0.1);
}

@mixin card-hover-shadow() {
  box-shadow: 0 5px 24px 0 rgba($black-color, 0.1);
}





